<h1 md-dialog-title>Create new article</h1>
<div md-dialog-content>
  <md-form-field>
    <input mdInput placeholder="Article ID" type="number" tabindex="1" >
  </md-form-field><br>
  <md-form-field>
    <input mdInput placeholder="Name" tabindex="1" >
  </md-form-field><br>
  <md-form-field>
    <input mdInput placeholder="Description" tabindex="1" >
  </md-form-field><br>
  <md-form-field>
    <input mdInput placeholder="Supplier" tabindex="1" >
  </md-form-field><br>
  <md-form-field>
      <input mdInput placeholder="Price" tabindex="1" >
  </md-form-field><br>
  <md-form-field>
    <input mdInput placeholder="Category" tabindex="1" >
  </md-form-field><br>
  <md-form-field>
    <input mdInput placeholder="Color" tabindex="1" >
  </md-form-field>
</div>
<div md-dialog-actions>
  <button md-button [md-dialog-close]="data.animal" color="warn" tabindex="2">Cancel</button>
  <button md-button (click)="onNoClick()" tabindex="-1">+ Create</button>
</div>
